{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "arrowParens": "always",
    "printWidth": 120,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["**/*.json", "**/*.yaml", "**/*.yml"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["public/css/combobox.css"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
